<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<link rel="stylesheet" href="https://news.aiswcenter.org/publish/css/aside.css">
<link rel="stylesheet" href="https://news.aiswcenter.org/publish/css/introduction.css">
<body>

<th:block th:replace="~{includes/user/header}" />

<div class="page-layout">
    <th:block th:replace="~{includes/user/aside}" />
    <script> listener_aside_nav_active("value-spread", 2); </script>

    <main class="content-area mission-content-area">

        <div class="content_img">
            <img id="content_imgId" src="https://news.aiswcenter.org/publish/img/content/sw_val_update_2021_3.png" style="width: 100%;" alt="운영 현황 이미지">
        </div>

    </main>
</div>

<th:block th:replace="~{includes/user/footer}" />
<th:block th:replace="~{includes/user/bottom}" />

</body>
</html>
