<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<link rel="stylesheet" href="https://news.aiswcenter.org/publish/css/aside.css">
<link rel="stylesheet" href="https://news.aiswcenter.org/publish/css/introduction.css">
<body>

<th:block th:replace="~{includes/user/header}" />

<div class="page-layout">
    <th:block th:replace="~{includes/user/aside}" />
    <script> listener_aside_nav_active("introduction", 1); </script>

    <main class="content-area mission-content-area">
        <div class="mission-layout">
            <div class="intro-legacy-subtitle-row">
                <img class="intro-legacy-subtitle-bullet" src="https://news.aiswcenter.org/publish/img/content/title_1.png" alt="">
                <span class="intro-legacy-subtitle-text">사업목표</span>
            </div>

            <figure class="mission-image mission-image--narrow">
                <img src="https://news.aiswcenter.org/publish/img/introduction/sw_intro.png" alt="사업목표 개요 이미지">
            </figure>
            <figure class="mission-image mission-image--wide">
                <img src="https://news.aiswcenter.org/publish/img/introduction/sw_intro1.png" alt="사업목표 상세 이미지 1">
            </figure>
            <figure class="mission-image">
                <img src="https://news.aiswcenter.org/publish/img/introduction/sw_intro2.png" alt="사업목표 상세 이미지 2">
            </figure>
            <figure class="mission-image">
                <img src="https://news.aiswcenter.org/publish/img/introduction/sw_intro3.png" alt="사업목표 상세 이미지 3">
            </figure>

            <div class="intro-legacy-subtitle-row">
                <img class="intro-legacy-subtitle-bullet" src="https://news.aiswcenter.org/publish/img/content/title_1.png" alt="">
                <span class="intro-legacy-subtitle-text">핵심 추진 내용</span>
            </div>
            <figure class="mission-image">
                <img src="https://news.aiswcenter.org/publish/img/introduction/sw_intro5.png" alt="핵심 추진 내용 이미지">
            </figure>

            <div class="intro-legacy-subtitle-row">
                <img class="intro-legacy-subtitle-bullet" src="https://news.aiswcenter.org/publish/img/content/title_1.png" alt="">
                <span class="intro-legacy-subtitle-text">교과과정</span>
            </div>
            <div class="intro-subtext">기업과 대학이 함께하는 교육 체계 운영을 통해 전주기적 SW 교육 체계를 수립합니다.</div>
            <figure class="mission-image">
                <img src="https://news.aiswcenter.org/publish/img/introduction/sw_intro4.png" alt="교과과정 이미지">
            </figure>
        </div>
    </main>
</div>

<th:block th:replace="~{includes/user/footer}" />
<th:block th:replace="~{includes/user/bottom}" />

</body>
</html>
