<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<link rel="stylesheet" href="/frontswcenter/css/aside.css">
<link rel="stylesheet" href="/frontswcenter/css/introduction.css">
<link rel="stylesheet" href="/frontswcenter/css/walab_sw_introduce.css">
<body>

<th:block th:replace="~{includes/user/header}" />

<div class="page-layout">
    <th:block th:replace="~{includes/user/aside}" />
    <script> listener_aside_nav_active("introduction", 2); </script>

    <main class="content-area mission-content-area">

        <section>
            <img id="smallbox" src="/frontswcenter/img/content/title_1.png" alt="">
            <span id="way">사업단 조직</span>
            <br><br>
            <table id="sw_introduce_table">
                <tr>
                    <th>이름</th>
                    <th>연락처</th>
                </tr>
                <tr>
                    <td id="td-subheading">단장 전산전자공학부 이강 교수님</td>
                    <td>yk@handong.edu</td>
                </tr>
                <tr>
                    <td id="td-subheading">실장 전산전자공학부 김광 교수님</td>
                    <td>kkim@handong.edu</td>
                </tr>
                <tr>
                    <td id="td-subheading">실장 전산전자공학부 안민규 교수님</td>
                    <td>minkyuahn@handong.edu</td>
                </tr>
                <tr>
                    <td id="td-subheading">실장 전산전자공학부 황성수 교수님</td>
                    <td>sshwang@handong.edu</td>
                </tr>
                <tr>
                    <td id="td-subheading">실장 전산전자공학부 조성배 교수님</td>
                    <td>sungbaejo@handong.edu</td>
                </tr>
                <tr>
                    <td id="td-subheading">실장 글로벌리더십학부 나대영 교수님</td>
                    <td>soriru@handong.edu</td>
                </tr>
            </table>

            <img id="smallbox" src="/frontswcenter/img/content/title_1.png" alt="">
            <span id="way">행정 담당자</span>
            <br><br>
            <table id="sw_introduce_table">
                <tr>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>업무</th>
                </tr>
                <tr>
                    <td id="td-subheading">이윤정 선생님</td>
                    <td>054-260-1478</td>
                    <td>예산<br>대외업무<br>사업단 행정일반</td>
                </tr>
                <tr>
                    <td id="td-subheading">정명호 선생님</td>
                    <td>054-260-1476</td>
                    <td>산학프로젝트<br>TA<br>융합 AI<br>
                </tr>
                <tr>
                    <td id="td-subheading">김유하 선생님</td>
                    <td>054-260-1477</td>
                    <td>맥북 대여<br>취업/창업<br>장학금</td>
                </tr>
                <tr>
                    <td id="td-subheading">지민영 선생님</td>
                    <td>054-260-1479</td>
                    <td>인턴십&현장실습<br>캠프<br>SW 특강</td>
                </tr>
                <tr>
                    <td id="td-subheading">이아영 선생님</td>
                    <td>054-260-1480</td>
                    <td>경진대회(TOPCIT)<br>학생지원<br>SW봉사단<br>교재개발</td>
                </tr>
            </table>
        </section>

    </main>
</div>

<th:block th:replace="~{includes/user/footer}" />
<th:block th:replace="~{includes/user/bottom}" />

</body>
</html>
